
doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
  html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='')
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='stylesheet', href='stylesheets/normalize.min.css')
        link(rel='stylesheet', href='stylesheets/main.css')
        script(src='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        .header-container
            header.wrapper.clearfix
                h1.title Notes List


                .main-container
                    .main.wrapper.clearfix
                        article
                            header



    h1="Current List of Notes"

    div



            ol

                li

                    a(href="/notes") Note


                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note

                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



    a.btn.btn-primary.btn-lg(href="/notes" role="button") Add A New Note

    .footer-container
        footer.wrapper
            h3 CIS 385
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='js/main.js')

        p CIS 385
